<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <title>Some website</title>
 </head>
 <style>
   body{
     background-color: #93B874;
   }


 </style>
 <body>
   <table>
     <tr>
       <td>{{> header}}</td>
       <td>{{> header}}</td>
      </tr>
   </table>



    <p>{{screamIt welcomeMessage}}</p>

    {{>footer}}
 </body>
</html>
